.questions-container {
  background: black;
  width: 600px;
  color: white;
  min-height: 600px;
  margin-top: 100px;
}

.grades {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
}

.selected-grade {
  border: none;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  text-align: center;
  background: $button-blue;
  color: white;
}

.input {
  width: 50%;
}

.button {
  justify-content: flex-end;
}

.btn {
  background: $button-blue;
  border: $button-blue;
  width: 100px;
  color: white;
}

.error {
  color: red;
  font-style: bold;
}

.grade-buttons {
  display: flex;
  justify-content: space-evenly
}