.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-div {
  height: 50px;
}

#nav {
  list-style-type: none;
  width: 100%;
  float: right;
  margin: 0;
  padding: 0;
  height: 5vh;
  background-color: fuchsia;
}

#nav li a {
  display: inline;
  float: right;
  padding: 8px 15px;
  color: black;
}

#survey {
  margin: 20px;
  padding: 20px;
  text-align: left; 
}