<div> 
        <h1>resources</h1>
	<li style="list-style-type:none;">
		<ul>Abuse – 1-888-PREVENT</ul>
		<ul>Crisis- Girls and Boys Town- 1-800-448-3000</ul>
		<ul>Crisis Pregnancy Hotline Number 1-800-67-BABY-6</ul>
		<ul>National Suicide Lifeline 1-800-273-8255</ul>
		<ul>Domestic Violence Hotline 1-800-799-SAFE</ul>
		<ul>Mental Health Services Helpline 1-800-662-4357</ul>
		<ul>Drug Abuse National Helpline 1-800-662-4357</ul>
		<ul>Eating Disorder- 1-800-931-2237</ul>
		<ul>Grief Support - 1-800-395-5755</ul>
		<ul>Gay and Lesbian National Hotline 1-888-843-4564</ul>
		<ul>Marijuana Anonymous 1-800-766-6779</ul>
		<ul>National Runaway Safeline 1-800-RUNAWAY 1-800(786-2929)</ul>
		<ul>OMI CASE Support Line 844-4NYWUSA(469-9872)</ul>
		<ul>S.A.F.E.(Self Abuse Finally Ends) 1-800-DONT-CUT</ul>
		<ul>Suicide Hotline 1-800-SUICIDE (784-2433)</ul>
		<ul>Teen Hope Line 1-800-394-HOPE</ul>
	</li>
</div>
